@{
    ViewData["Title"] = "Home Page";
}
<p></p>
<ul>    
    <li>
        <a asp-area="" asp-controller="Categoria" asp-action="Index">Tabela Categoria</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Despesa" asp-action="Index">Tabela Despesa</a>
    </li>
</ul>
