
@{
    ViewData["Title"] = "Categoria";
}

@using SiteWeb.Models
@model List<Categoria>


<h4 class="title">Lista Categorias</h4>
<p class="category">
    <a class="btn btn-sm btn-danger btn-icon" asp-controller="categoria" asp-action="editar" asp-route-id="0"><i class="fa fa-plus"></i></a>
</p>

<p class="content table-responsive table-full-width">
    <table class="table table-striped" style="max-width:500px">
        <thead class="text-primary" style="background-color: beige">
            <tr>
                <th>Ação</th>
                <th>Id</th>
                <th>Descrição</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-danger btn-icon" asp-controller="categoria" asp-action="editar" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o"></i></a>
                        <a class="btn btn-sm btn-danger btn-icon" asp-controller="categoria" asp-action="excluir" asp-route-id="@item.Id"><i class="fa fa-trash-o"></i></a>
                    </td>
                    <td>@item.Id</td>
                    <td>@item.Descricao</td>                    
                </tr>
            }
        </tbody>
    </table>
</p>
